* {
    margin: 0;
    padding: 0;
}

html * {
    box-sizing:content-box;
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and(min-width:480px){
    html{
    padding: 0px ;
    }

}
.nav-container{
    display: flex;
    border: 1px solid seashell;
    background-color: rgb(247, 248, 248);
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 24px;
    font-family: arial;
    position: fixed;
    gap: 30px;
    
    

}
.fotomatic{
    display: inline-flex;
    /*font-size: 30px;*/

}
.head{
    display: inline-flex;
    /*text-align: end;*/
    /*font-size: 30px;*/
    text-decoration:none;
    /*gap: 10px;*/
    /*font-family: 'Times New Roman', Times, serif;*/
    justify-content: end;
    

}
li{
    list-style-type: none;
    
}
li img{
    width: 40px;
    height: 40px;
    
}
body{
    width: auto;
    height: fit-content;
}
.banner{
    display: grid;
    background-image: url("/media/banner-landingpage.jpg");
    height: 500px;
    width:auto;
    background-repeat: no-repeat;
    background-size: cover;
    /*align-items:;*/
    
}
.inside-banner{
    height: 300px;
    width: 490px;
    background-color: rgb(61, 209, 11);
    grid-column:auto;
    grid-row: 2/3;
    text-align: center;
    color: aliceblue;
    font-size: large;
}
.inside-banner p{
    font-size: 20px;
}
.inside{
    background-color: rgb(60, 38, 38);
    width: auto;
    color: antiquewhite;
    border: 1px solid seashell;
    border-radius: 5px;    
}
.feature{
    display: inline-flex;
    min-width: 780px;
    align-items:center;
    gap: 50px;
    background-color: rgb(226, 229, 232);
    padding-bottom: 20px;
}

figure img{
    width: 490px;
}
.feature-1,.feature-2{
    background-color: rgb(200, 218, 218);
    width: 620px;
    height: 540px;
    padding: 25px;
    margin-top: 30px;
    text-align: center;
}
figcaption h3{
    font-size: 32px;
    
}
.filter{
    display: grid;
    text-align: center;
    background-color: rgb(59, 56, 56);
    min-height: 520px;
    align-content: center;
}
figure{
    display: inline;
}
.filter img{
    width: 300px;
    height: 300px;
}

.last{
    display: grid;
    background-color: whitesmoke;
    height: 120px;
    text-align: center;
    align-items: center;
}
.last img{
    width: 84px;
    height: 34px;
}
.foot{
    display: flex;
    /*justify-content: space-between;*/
    background-color: rgb(97, 93, 93);
    height: 80px;
    /*width: 1200px;*/
    align-items: center;
    
    
    
}
.foot footer{
    display: inline-flex;
    gap: 1000px;
    color: white;
}